* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}

h3 {
    color: var(--main-color);
}

input {
    background: rgba(0,0,0,.1);
}

.main-form {
    position: absolute;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    display: none;
    position: relative;
    width: 25%;
    min-height: 100px;
    text-align: center;
    margin-right: 100px;
    margin-top: 10px;
    border-radius: 2px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
    transition: 0.5s;
    animation: fadeIn 0.5s;
}

.form .heading {
    font-size: 1.1rem;
}


.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    width: 100%;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    line-height: 1.8rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid var(--icon-color);
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}

.form-control:hover {
    border-color: var(--main-color);
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 4px 0 0;
}

.form-submit {
    position: absolute;
    outline: none;
    background-color: var(--icon-color);
    margin-top: 5px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    left: 0;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
}

.form-submit:hover {
    color: var(--main-color);
    transition: 0.5s;
}

.spacer {
    margin-top: 36px;
}

.resignMessage {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.resignMessage > button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    text-align: center;
    color: var(--icon-color);
    
}

.resignMessage > button:hover {
    background-color: var(--main-color);
    transition: 0.5s;
}