*{
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    background-color: rgb(38,42,51); */
}

body, .words-input {
    font-family: 'Cascadia Code';
    color: var(--main-color);
}

.container{
    position: absolute;
    background-color: var(--background-color);
    margin-top: 20px;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
    transition: 0.5s;
    animation: fadeIn 0.5s;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: var(--main-color);
    font-weight: bold;
}

.words-display{
    margin: 1rem;
    margin-left:calc(-1rem + 2px);
    margin-right:calc(-1rem + 2px);
    color: rgb(204,241,239); 
}

.words-input{
    background-color: transparent;
    border: 2px solid ;
    outline: none;
    width: 100%;
    height: 350px;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    /* background: none;
    border: none; 
    background-color: rgba(0, 0, 0, 0); 
    border-color: rgba(0, 0, 0, 0); */
    /* opacity: 0; */
    /* width:1px;
    height:1px */
}

.quote-input:focus {
    border-color: black;
}

.correct{
    color: var(--main-color);
}

.incorrect{
    color: red;
}
